<div class="center jumbotron">
  <h1><%= t "layout.home.content_h1" %></h1>
  <h2>
    <%= link_to t("layout.home.content_home"), t("layout.home.href") %>
    <%= t "layout.home.content_link" %>
  </h2>
</div>
