<div class="center jumbotron">
  <h1><%= t "layouts.home.content_h1" %></h1>
  <h2>
    <%= link_to t("layouts.home.content_home"), t("layouts.home.href") %>
    <%= t "layouts.home.content_link" %>
  </h2>
</div>
