<tr>
  <td>
  <%= gravatar_for user, size: Settings.avatarsizeshow %>
  <%= link_to user.name, user %>
</td>
  <% if current_user.trainer? || current_user.admin? && !user.admin? && !current_user?(user)%>
    <td><%= link_to "", user, method: :delete, data: {confirm: t(".you_sure")}, class: "btn btn-danger glyphicon glyphicon-trash" %>
      <%= link_to "", edit_user_path(user), class: "btn btn-default glyphicon glyphicon-edit"  %>
    </td>
  <% end %>
</tr>
