<% provide :title, t(".all_users") %>
<h1><%= t ".all_users" %></h1>

<div id="main" class="users">
  <%= will_paginate %>
  <table class="table table-striped">
    <tbody>
      <%= render @users %>
  </tbody>
</table>
  <%= will_paginate %>
</ul>
