<tr>
  <td>
    <%= link_to course.name, trainer_course_path(course) %>
  </td>
  <td>
    <%= link_to t(".delete"), trainer_course_path(course), method: :delete,  data: {confirm: t(".you_sure")}, class: "btn btn-danger" %>
  </td>
</tr>
